@media (min-width:992.5px) and (max-width:1200px) {
    .container {
        max-width: 1140px
    }

}

@media (min-width:768.5px) and (max-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:576.5px) and (max-width:768px) {
    .container {
        max-width: 720px
    }

    .header {
        position: fixed;
        width: 100%;

        .nav {
            display: none;
        }

        .btn {
            display: none;
        }

        .burger {
            display: block;
        }
    }

    .business {
        .business-img {
            display: none;
        }

        .title {
            font-family: Mulish;
            font-style: normal;
            font-weight: 800;
            font-size: 37px;
            line-height: 140%;
            color: #222222;
        }

        .text {
            font-family: Mulish;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 170%;
            color: #555555;
        }

        .form {
            .input {
                padding: 36px 10px;
            }

            .btn {
                &__mr {
                    margin: 0 12px 0 45px;
                }
            }

        }

        .section-img {
            overflow: hidden;
        }
    }

    // --Website  
    .website {
        .website-wrapper {
            background: #F9F9F9;
            height: 1300px;
        }

        .card {
            left: 85px;
            top: 405px;


            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    // feature-services
    .feature-services {
        .services-card {
            grid-template-columns: 1fr 1fr;
        }

    }

    // team-from

    .team-from {
        .team {
            &__item {
                left: 24px;

                max-width: 193px;
            }

            &__title {
                font-size: 14px;
                line-height: 170%;
            }

            &__text {
                font-size: 10px;
                line-height: 170%;

            }
        }
    }

    // pricing
    .pricing {
        .pricing-wrapper {
            display: -webkit-inline-box;
            overflow: hidden;

            .our-pricing {

                .btn {
                    &_color {
                        &_hover {

                            padding: 11px 42px;
                            line-height: 150%;
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .ful {
            .ful-text {
                font-family: Mulish;
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 170%;
                color: #333333;

            }
        }
    }


}

@media (min-width:375px) and (max-width:576px) {
    .container {
        max-width: 540px
    }

  

    .header {
        position: fixed;
        width: 100%;

        .nav {
            display: none;
        }

        .btn {
            display: none;
        }

        .burger {
            display: block;
        }
    }

    .business {
        .section-img {
            display: none;
        }

        .title {
            font-family: Mulish;
            font-style: normal;
            font-weight: 800;
            font-size: 37px;
            line-height: 140%;
            color: #222222;
        }

        .text {
            font-family: Mulish;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 170%;
            color: #555555;
        }

        .form {
            display: none;


        }

        .section-img {
            overflow: hidden;
        }
        .btn-blok {
            display: block; 
            padding: 16px 102px;
            width: 100%;
        }

    }

    // --Website  
    .website {
        margin: 50px 0;

        .website-wrapper {
            background: #F9F9F9;
            height: 1020px;
            padding: 55px 6px;
            margin-bottom: 115px;

            .title {
                font-family: Mulish;
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                line-height: 170%;
                color: #222222;
            }

            .text {
                font-family: Mulish;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 170%;
                color: #555555;

            }
        }

        .card {
            left: 31px;
            top: 200px;
            grid-gap: 16px;
            grid-template-columns: 1fr 1fr;

            .card-website {
                padding: 30px;

                &__info {
                    gap: 0;
                }
            }

        }


    }

    .card {
        left: 85px;
        top: 405px;


        grid-template-columns: 1fr 1fr 1fr;
    }


    // feature-services
    .feature-services {
        .text-link {
            font-size: 14px;
            line-height: 170%;
        }

        .title {
            font-size: 20px;
            line-height: 170%;


        }

        .text {
            font-size: 12px;
        }

        .services-card {
            text-align: center;
            grid-template-columns: 1fr;
            border: none;

            .card-link {
                border: none;
            }
        }

    }

    // TESTIMONIAL

    .testimonial {
        .text-link {
            font-size: 14px;
        }

        .title {
            font-size: 20px;
        }

        .btn {
            &_color {
                &_yellov {
                    padding: 5px;

                }
            }
        }

        .slide {
            .peoples-opinion {
                padding: 19px 18px;

                &__smblok {
                    display: none;
                }

                .text {
                    font-size: 14px;
                }

                .opinion {
                    &__title {
                        font-size: 14px;
                    }

                    &__text {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    // team-from

    .team-from {
        &__wrapper {
            display: flex;
            gap: 70px;
        }

        .text-link {
            font-size: 14px;
            line-height: 170%;
        }

        .title {
            font-size: 20px;
            line-height: 170%;


        }

        .text {
            font-size: 12px;
        }

        .team {
            &__item {
                width: 100%;
                left: 26px;
                max-width: 298px;
            }

            &__title {
                font-size: 14px;
                line-height: 170%;
            }

            &__text {
                font-size: 10px;
                line-height: 170%;

            }
        }
    }

    // pricing
    .pricing {

        .text-link {
            font-size: 14px;
            line-height: 170%;
        }

        .title {
            font-size: 20px;
            line-height: 170%;


        }

        .text {
            font-size: 12px;
        }

        .pricing-wrapper {

            overflow: hidden;

            .our-pricing {

                // &__none{
                //     display: none;
                // }
                .btn {
                    &_color {
                        &_hover {

                            padding: 10px 15px;
                            line-height: 91%;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }

    // client
    .client {
        .text-link {
            font-size: 14px;
            line-height: 170%;
        }

        .title {
            font-size: 20px;
            line-height: 170%;


        }


    }

// start-business
.start-business{
    .start-business-info{
        .title{
            font-size: 24px;
        }
         .form{
             &_position{
                 display: none;
             }
         }
         .btn-blok {
            display: block;
            width: 100%;
            padding: 16px 102px;
    
        }
    }
}

    .ful {
        .ful-text {
            font-family: Mulish;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 170%;
            color: #333333;

        }
    }
.footer-res{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
}

@media (max-width:414px) {
    .container {
        max-width: 350px
    }
.website {
    .website-wrapper{
        .card{
            left: 47px;
        }
    }
}
    .team {
        &__item {
            width: 100%;
            left: 26px;
            max-width: 355px;
        }
    }
}
@media (max-width:375px) {
    .container {
        max-width: 350px
    }
    

    .header {
        position: fixed;
        width: 100%;

        .nav {
            display: none;
        }

        .btn {
            display: none;
        }

        .burger {
            display: block;
        }
    }

    .business {
        .section-img {
            display: none;
        }

        .title {
            font-family: Mulish;
            font-style: normal;
            font-weight: 800;
            font-size: 37px;
            line-height: 140%;
            color: #222222;
        }

        .text {
            font-family: Mulish;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 170%;
            color: #555555;
        }

        .form {
            display: none;


        }

        .section-img {
            overflow: hidden;
        }
        .btn-blok {
            display: block; 
            padding: 16px 102px;
            width: 100%;
        }

    }

    // --Website  
    .website {
        margin: 50px 0;

        .website-wrapper {
            background: #F9F9F9;
            height: 1020px;
            padding: 55px 6px;
            margin-bottom: 115px;

            .title {
                font-family: Mulish;
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                line-height: 170%;
                color: #222222;
            }

            .text {
                font-family: Mulish;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 170%;
                color: #555555;

            }
        }

        .card {
            left: 31px;
            top: 200px;
            grid-gap: 16px;
            grid-template-columns: 1fr 1fr;

            .card-website {
                padding: 30px;

                &__info {
                    gap: 0;
                }
            }

        }


    }

    .card {
        left: 85px;
        top: 405px;


        grid-template-columns: 1fr 1fr 1fr;
    }


    // feature-services
    .feature-services {
        .text-link {
            font-size: 14px;
            line-height: 170%;
        }

        .title {
            font-size: 20px;
            line-height: 170%;


        }

        .text {
            font-size: 12px;
        }

        .services-card {
            text-align: center;
            grid-template-columns: 1fr;
            border: none;

            .card-link {
                border: none;
            }
        }

    }

    // TESTIMONIAL

    .testimonial {
        .text-link {
            font-size: 14px;
        }

        .title {
            font-size: 20px;
        }

        .btn {
            &_color {
                &_yellov {
                    padding: 5px;

                }
            }
        }

        .slide {
            .peoples-opinion {
                padding: 19px 18px;

                &__smblok {
                    display: none;
                }

                .text {
                    font-size: 14px;
                }

                .opinion {
                    &__title {
                        font-size: 14px;
                    }

                    &__text {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    // team-from

    .team-from {
        &__wrapper {
            display: flex;
            gap: 70px;
        }

        .text-link {
            font-size: 14px;
            line-height: 170%;
        }

        .title {
            font-size: 20px;
            line-height: 170%;


        }

        .text {
            font-size: 12px;
        }

        .team {
            &__item {
                width: 100%;
                left: 26px;
                max-width: 298px;
            }

            &__title {
                font-size: 14px;
                line-height: 170%;
            }

            &__text {
                font-size: 10px;
                line-height: 170%;

            }
        }
    }

    // pricing
    .pricing {

        .text-link {
            font-size: 14px;
            line-height: 170%;
        }

        .title {
            font-size: 20px;
            line-height: 170%;


        }

        .text {
            font-size: 12px;
        }

        .pricing-wrapper {

            overflow: hidden;

            .our-pricing {

                // &__none{
                //     display: none;
                // }
                .btn {
                    &_color {
                        &_hover {

                            padding: 10px 15px;
                            line-height: 91%;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }

    // client
    .client {
        .text-link {
            font-size: 14px;
            line-height: 170%;
        }

        .title {
            font-size: 20px;
            line-height: 170%;


        }


    }

// start-business
.start-business{
    .start-business-info{
        .title{
            font-size: 24px;
        }
         .form{
             &_position{
                 display: none;
             }
         }
         .btn-blok {
            display: block;
            width: 100%;
            padding: 16px 102px;
    
        }
    }
}

    .ful {
        .ful-text {
            font-family: Mulish;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 170%;
            color: #333333;

        }
    }
.footer-res{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
}